<!DOCTYPE html>
<html>
<head>
    <title>Finance Blockchain</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
	   <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Animate CSS -->
    <link href="assets/css/animate.css" rel="stylesheet"/>
    <!-- Font-awesome web fonts with css -->
    <link href="assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
	 <!-- Custom CSS -->
    <link href="assets/css/custom.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="p-0">

<section class="client-login verify">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="dash-logo">
          <img src="assets/images/logos/logo-sm.png">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <!-- <div class="row">
        <div class="col-md-6 offset-md-3">
           <div class="white-box text-center">
          <div class="user-ath-box">
            <h4 style="color: #000;">Please enter the OTP to verify your account.</h4>

            <p style="color: #000;" class="mb-3">An One Time Password sent to your e-mail address</p>
            <% if(err_msg!=undefined){ %>
                <span class="error_validate flash_msg"><%= err_msg %></span>
              <% }%>
              <% if(success_msg!=undefined){ %>
                <span class="succ_flash_msg" style="color: green;"><%= success_msg %></span>
              <% }%>
            <form id="login_form" action="verify-account" method="POST">

                <div class="input-item">
                    <input type="text" class="form-control input-bordered" placeholder="Enter OTP" name='otp' id='otp' data-rule-required="true"  data-msg-required="Please enter OTP.">
                </div>
                <div class="gaps"></div>
                <div class="d-flex justify-content-center mt-3 align-items-center">
                    <button type="submit" class="btn btn-sign" id="submit_verify_account">Submit</button>
                </div>
            </form>
        </div>
        </div>
      </div>
      </div> -->
    
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="white-box text-center">
            <div class="user-ath-box">

                <h4 style="color: #000;">Forgot Password</h4>
                <form method="POST" action="forgot-pass">
                    <% if(err_msg!=undefined){ %>
                        <span class="error_validate flash_msg"><%= err_msg %></span>
                    <% }%>
                    <% if(success_msg!=undefined){ %>
                        <span class="succ_flash_msg" style="color: green;"><%= success_msg %></span>
                    <% }%>
                <div class="form-group">
                    <input name="email" type="email" class="form-control" placeholder="yourmail@gmail.com">
                  </div>
                  <div class="text-center"> 
                    <button type="submit" id="submit_login" class="btn btn-sign">Submit</button>
                  </div>
                </form>
            </div>
            
            </div>
            <div class="log-foo text-center">
              <p>Don't have an account. <a href="/signup">Signup</a></p>
          </div>
        </div>
    </div>
    </div>
</section>

        <!-- JQuery -->
        <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script> -->
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <!-- dropdownhover effects JavaScript -->
        <script type="text/javascript" src="assets/js/bootstrap-dropdownhover.min.js"></script>
        <!-- wow JavaScript -->
        <script type="text/javascript" src="assets/js/wow.min.js"></script>
        <!-- jquery-ui -->
        <script type="text/javascript" src="assets/js/jquery-ui.js"></script>
        <!-- Custom JavaScript -->
        <script type="text/javascript" src="assets/js/custom.js"></script>



</body>
</html>
