<!DOCTYPE html>
<html>
<head>
    <title>Finance Blockchain</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <!-- Animate CSS -->
    <link href="../assets/css/animate.css" rel="stylesheet"/>
    <!-- slick slider CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../assets/slick/slick-theme.css">
    <!-- Font-awesome web fonts with css -->
    <link href="../assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
    <!-- progressbar CSS -->
    <link href="../assets/css/jQuery-plugin-progressbar.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="../assets/css/custom.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body-home">

<!-- Header html -->
<header class="header-main">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo" href="#">
                <img src="../assets/images/logos/logo - Copy.png"> 
             <!--  <h1>SAMKoin</h1>--->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" id="main-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">Whitepaper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Roadmap">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Faq">Faq</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Login / Register</a>
                    </li>
                    <li>
                        <a href="" class="btn btn-common">Buy SAMKoin</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Header html end -->
