<%- include('index_header') %>

<section class="sec-banner main-banner-sec" id="Home">
     <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 align-items-center">
                    <div class="wow slideInUp">
                        <h4 class="text-uppercase">Credit Access, Institutional Transparency, Financial Inclusion</h4>
                        <p style="font-family: 'Roboto-Regular';">An inclusive system of shared economies that advances the Blockchain adoption to an unmatched level of financial liberation.</p>
                        <h5>Follow Us On:</h5>
                         <ul class="banner-social">
                            <li>
                                <a href="" target="_blank">
                                    <img src="assets/images/icons/facebook@2x.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="assets/images/icons/twitter@2x.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="assets/images/icons/instagram@2x.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="assets/images/icons/telegram@2x.png">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <img src="assets/images/icons/gmail.png">
                                </a>
                            </li>
                        </ul>
                        
                        
                   </div>
                </div>
                <div class="col-md-6 align-items-center">
                  <img src="assets/images/other/desktop.png" class="img-fluid wow slideInUp">
                </div>
                
            </div>
        </div>
</section>

<section class="sec-padd sec-feature" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="head-common wow slideInUp text-center">Featured In</h4>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="regular">
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature1.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature2.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature3.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature4.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature5.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature1.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature2.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature3.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature4.png">
                </div>
              </div>
              <div class="item">
                <div class="f-icon">
                  <img src="assets/images/other/feature5.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row align-items-center feature-icon text-center">
            <div class="col-6 col-sm-6 col-md-3 col-lg">
                <img src="assets/images/other/feature1.png">
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg">
                <img src="assets/images/other/feature2.png">
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg">
                <img src="assets/images/other/feature3.png">
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg">
                <img src="assets/images/other/feature4.png">
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg">
                <img src="assets/images/other/feature5.png">
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-md-12">
                <h4 class="head-common wow slideInUp text-center">Current Dashboard view of Finance Block Platform</h4>
            </div>
        </div>

         <div class="row align-items-center mb-3">
           <div class="col-md-12 col-sm-12 align-items-center">
                <div class="img-box">
                     <img src="assets/images/other/desktop.png" class="img-fluid wow slideInUp">
                </div>
            </div>
        </div> -->



        <div class="row align-items-center mt-5">
            <div class="col-sm-12 col-md-6 align-items-center">
                <div class="platform-content">
                    <h4 class="head-common wow slideInUp">Challenges in Financial Sector</h4>
                    <div class="txt wow slideInUp">
                      <p>World Bank has stated that more than <b>1.7 billion people</b> around the globe do not have access to the services of a bank or any financial organization, aka <b>'The Unbanked</b>. This unbanked population of the World has no checking accounts or savings or any form and neither has any insurance, credits or mortgages benefits.</p>
                      <p>Since the rural people in the LMIC have almost <b>zero access to credits</b> on competitive terms, it leads them to <b>poverty, unemployment and impoverishment.</b></p>
                    </div>
                </div>
            </div>
           <div class="col-md-6 col-sm-12 align-items-center">
                <div class="img-box">
                     <img src="assets/images/other/market.png" class="img-fluid wow slideInUp">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-market">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center head-common wow mt-5 slideInUp">How can Finance Blocks Solve this Problem</h4>
               
                 <div class="txt text-center how-text">
                    Finance Blocks merges revolutionary Blockchain technology with banking and finance system. The platform connects seamlessly with national identity systems and extends a secure repository for user identification data on the blockchain
                </div>

                 <h5 class="text-center subhead-common wow slideInUp mt-3">Here are the USPs of Finance Blockchain Platform:-
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="white-box">
                <div class="img-box">
                  <img src="assets/images/other/BG@2x.png">
                </div>
                <div class="row">
                  <div class="col-md-10 offset-md-1">
                      <div id="owl-feature" class="feature-slider">
                          <div class="item">
                              <div class="row">
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/Records.png">
                                          <div class="title">Real Time Immutable Records</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/Management.png">
                                          <div class="title">Rural User Identity Management</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/Blockchain.png">
                                          <div class="title">Blockchain based Wallet</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/Applicant.png">
                                          <div class="title">Applicant Risk Profiling</div>
                                      </div>
                                  </div>
                             
                              </div>
                          </div>
                          <div class="item">
                              <div class="row">
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/Automated.png">
                                          <div class="title">Automated Credit Scores</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/Comprehensive.png">
                                          <div class="title">Comprehensive Financing Needs</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/interface.png">
                                          <div class="title">Easy to use digital interface</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/Refurbishing.png">
                                          <div class="title">Refurbishing Traditional legacy system</div>
                                      </div>
                                  </div>
                               
                              </div>
                          </div>
                         <!--  <div class="item">
                              <div class="row">
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/decentralization.png">
                                          <div class="title">Decentralization</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/risky-derivatives.png">
                                          <div class="title">Risky Derivatives</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/clearing.png">
                                          <div class="title">Clearing & Settlement Issues</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-12 col-lg-6">
                                      <div class="text-center">
                                          <img src="assets/images/new-img/valuation.png">
                                          <div class="title">Valuation Difficulties</div>
                                      </div>
                                  </div>
                              
                              </div>
                          </div> -->
                      </div>
                  </div>
              </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-padd sec-app" id="Products">
    <div class="container">
    <div class="row align-items-center mt-5">
        <div class="col-md-10 offset-md-1">
        <h4 class="head-common text-center">Know About Finance Block Products</h4>
          <div class="app-txt text-center">
              Finance Blocks have a system that follows Polygon protocol. The mobile app is available on Android. Presently, the ecosystem supports 1000 transactions per second. It intends to gain an authorized system of support that hugely impacts the manner users exempt the mode of exchange in the coming time.
          </div>
      </div>
            <div class="col-md-6 col-sm-12 align-items-center text-center">
                <!--<img src="assets/images/other/mobile@2x.png" class="app-img">-->
                  <img src="assets/images/other/mobilek.png" class="app-img">
            </div>
            <div class="col-sm-12 col-md-6 align-items-center">
               <!-- <h4 class="wow slideInUp head-app">Know About  Finance Block App</h4>
                <div class="app-txt">
                   Following POA Protocol on Private Ethereum Blockchain network, Finance Block ordains to obtain an organized system of assistance that greatly influences the way users acquit the mediums of exchange in future.
                </div>-->
                <div class="app-feature pl-0">
                  <h4 class="slideInUp wow head-feature">App Features</h4>
                    <ul>
                        <li>Check Balance</li>
                        <li>Check Upcoming EMIs</li>
                        <li>Check FD Maturity</li>
                        <li>View Transaction History</li>
                        <li>Deposit & Withdraw</li>
                        <li>View Payments, EMIs & Loans</li>
                        <li>View KYC</li>
                        <li>Currencies & Branches</li>
                        <li>Create & Edit Banks</li>
                        <li>Bank & Admin Dashboard</li>
                    </ul>
                </div>
                <h4 class="head-app wow slideInUp mb-3">Will Launch on Oct 01 2021</h4>
                <div class="app-buttons">
                    <a href="" class="btn btn-white"><img src="assets/images/icons/playstore.png"> Google Play</a>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-5 align-items-center">Register for Pre Invite</div>
                    <div class="col-md-12 col-lg-7 align-items-center">
                        <div class="common-input">
                            <input type="text" class="form-control" placeholder="">
                            <button class="btn btn-common" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</section>

<!-- <section class="sec-padd sec-token">
  <div class="side-img"><img src="assets/images/other/new3.png"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="head-common slideInUp wow">Finance Block Coin</h4>
                <div class="txt">Coin provided by Finance Blocks gives a resilient mode of exchange for its members. It performs as a mediator device and tradable unit that eases streamlining of all procedures involved in transaction settlement between the global community of Finance Blocks. </div>
                
               

            </div>
        </div>
    </div>
</section> -->

<section class="sec-padd sec-works" id="how-it-works">
  <div class="side-img"><img src="assets/images/other/3.png"></div>
  <div class="container">
    <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="head-common wow slideInUp mb-1">HOW IT WORKS</h4>
                <!-- <h5 class="subhead-common wow slideInUp mb-4">For Finance Block Community And Crypto Traders</h5> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/images/other/Finance.png" class="works-icon mt-3">
            </div>
        </div> -->
        <div class="row mg-tops">
            <div class="col-md-6 text-center">
                 <div class="work-box-bd">
              <div class="wow zoomIn">
                <img src="assets/images/new-img/howitworks1.png" class="works-icon">
              </div>
             
                <h5 class="title">Onboarding Banks</h5>
                <p class="text-detail">The banks are onboarded by the team of Finance Blocks. When a bank is created, the account of a linked staff member is also created. This account will be an admin account for the bank management.</p>
                     </div>
            </div>
            <div class="col-md-6 text-center">
                 <div class="work-box-bd">
              <div class="wow zoomIn">
                <img src="assets/images/new-img/howitworks2.png" class="works-icon">
              </div>
              
                <h5 class="title">Adding Branches & Staff</h5>
                <p class="text-detail">With the account created in the onboarding process, the bank head will add all their branches and staff members. And, once added to the system, staff members will have their own login details.</p>
</div>
            </div>
            <div class="col-md-6 text-center">
                 <div class="work-box-bd">
              <div class="wow zoomIn">
                <img src="assets/images/new-img/howitworks3.png" class="works-icon">
              </div>
              
                <h5 class="title">Setting Up Configuration</h5>
                <p class="text-detail">Each bank has some configuration like interest rates, FDs, loans, etc. These configurations can be set before any banking operation.</p>
</div>
            </div>
            <div class="col-md-6 text-center">
                 <div class="work-box-bd">
              <div class="wow zoomIn">
                <img src="assets/images/new-img/howitworks4.png" class="works-icon">
              </div>
            
                <h5 class="title">Onboarding Customers</h5>
                <p class="text-detail">After setting configurations, customers can be onboarded into the system. Then, a bank account is created, and KYC has done. After getting reviewed, the KYC is either accepted or rejected.</p>
</div>
            </div>
              <div class="col-md-6 text-center">
                 <div class="work-box-bd">
              <div class="wow zoomIn">
                <img src="assets/images/new-img/howitworks5.png" class="works-icon">
              </div>
              
                <h5 class="title">Banking Operations</h5>
                <p class="text-detail">After adding customers, normal banking operations can be initiated. Money can be deposited or withdrawn from the account, FDs and loans can be processed. Interest calculation, settlement of interest on savings & FDs, EMI generation, etc., all are taken care of automatically.

</p>
</div>
            </div>
            <div class="col-md-6 text-center">
                 <div class="work-box-bd">
              <div class="wow zoomIn">
                <img src="assets/images/new-img/howitworks6.png" class="works-icon">
              </div>
            
                <h5 class="title">Mobile App For Viewing Data</h5>
                <p class="text-detail">Users are able to view all their data through a common mobile app. Users can login to the app by choosing their bank and entering their login details. And, they can go through their data like balance, FDs, loans, EMIs, etc.

</p>
</div>
            </div>
        </div>
  </div>
</section>





<section class="sec-padd sec-pie" id="Token">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="head-common wow slideInUp text-center">Token Distribution</h4>
          </div>
        </div>
        <div class="row align-item-center mt-5">
             <div class="col-md-7">
               <div>
                 <img src="assets/images/new-img/graph.png" width="800px">
               </div>
             </div>
            <div class="col-md-5">
               <div class="right-side-table multicolor-table">
                   <table class="table table-striped">
                      <thead>
                        <tr>
                          <th width="50%">Description</th>
                          <th width="25%">In Million</th>
                          <th width="25%">Percentage</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Public Sales</td>
                          <td>430</td>
                          <td>43.0%</td>
                        </tr>
                        <tr>
                          <td>Private Sales</td>
                          <td>90</td>
                          <td>9.0%</td>
                        </tr>
                        <tr>
                          <td>Community</td>
                          <td>80</td>
                          <td>8.0%</td>
                        </tr>
                        <tr>
                          <td>Strategic Partners</td>
                          <td>120</td>
                          <td>12.0%</td>
                        </tr>
                        <tr>
                          <td>Advisors and Management</td>
                          <td>110</td>
                          <td>11.0%</td>
                        </tr>
                        <tr>
                          <td>Legal Expenses</td>
                          <td>40</td>
                          <td>4.0%</td>
                        </tr>
                        <tr>
                          <td>Product Creation</td>
                          <td>80</td>
                          <td>8.0%</td>
                        </tr>
                        <tr>
                          <td>Marketing(Bounties,Airdrops)</td>
                          <td>50</td>
                          <td>5.0%</td>
                        </tr>
                        
                         

                      </tbody>
                    </table>
               </div> 
            </div>
        </div>
    </div>
</section>

<section class="sec-padd sec-roadmap" id="Roadmap">
  <div class="side-img"><img src="assets/images/other/3.png"></div>
  <div class="side-img1"><img src="assets/images/other/new3.png"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="head-common wow slideInUp mb-5">Roadmap</h4>
               
            </div>
            <div class="col-md-12">
                <div class="text-center">
                  <img src="assets/images/new-img/roadmap.png" class="road-img" style="width: 85%;">
                </div> 
            </div>
        </div>
    </div>
</section>




<section class="sec-padd sec-media partner-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="head-common wow slideInUp text-center">Our Partners</h4>
            </div>
        </div>
        <div class="row text-center">
           
            <div class="col-md-3 col-6">
                <a href="https://www.klgates.com/" target="_blank">
                  <img src="assets/images/new-img/logo2.jpg">
                </a>
            </div>
            <div class="col-md-3 col-6">
               <a href="https://www.ksdt-cpa.com/" target="_blank">
                 <img src="assets/images/new-img/logo3.png">
               </a> 
            </div>
            <div class="col-md-3 col-6">
                <a href="https://questglt.com/" target="_blank">
                  <img src="assets/images/new-img/logo4.png">
                </a>
            </div>
             <div class="col-md-3 col-6">
                <a href="" target="_blank">
                  <img src="assets/images/new-img/logo1.png">
                </a>
            </div>
           
        </div>
    </div>
</section>



<section class="sec-padd sec-token sec-video-mocup">
    <div class="container">
       <div class="row">
            <div class="col-md-12">
                <h4 class="head-common wow slideInUp text-center mb-5">Media Mentions</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 text-center">
                <div class="d-block d-sm-block d-md-block">
                   <div class="inner-video-box">
                     <video width="100%" height="350" controls>
                        <source src="assets/images/new-img/video-new.mp4" type="video/mp4">
                      </video>
                   </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
              <img src="assets/images/new-img/certificate.jpg" class="img-fluid" style="max-height: 400px;">
            </div>
        </div>
    </div>
</section>

<!-- <section class="sec-padd sec-refund">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="white-box text-center">
          <h4 class="head-common wow slideInUp">Refund Policy</h4>
          <div class="fadeInUp wow txt" >If Coin Purchaser wants to give back coins and get back his money so he can give us Finance Block Coins anytime and get his money back without any deductions. Read Terms and Conditions " Return Coins and Refund Money"</div>
          <img src="assets/images/other/blue design@2x.png" class="blue">
          <img src="assets/images/other/bluec.png" class="yellow">
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- <section class="sec-client-about">
    <div class="container">
        <div class="row">
           
            <div class="col-sm-12">
                <img src="assets/images/other/rommel.png" class="client-img wow slideInLeft">
                <div class="wow slideInRight>
                  <h5 class=" subtitle">CEO & Founder
                  </h5>
                  <h4 class=" head-common">Mr. Rommel Santos</h4>
                  <div class="txt">
                    <p>Mr. Rommel Santos is a savvy, inquisitive & high-caliber Filipino-native entrepreneur who is proclaimed as one of the exemplary figures in wide-spread applications of Blockchain technology in conventional business sectors covering entirety of Asia-Pacific. Mr. Santos founded Finance Block Digital Tech to promote technological gains from the recent Technological wonder- Blockchain.</p>
                    <p> A reputed Alumnus from the most prestigious academic institution in Philippines, Mr. Santos holds the leading position of - President and CEO of Integrated Laser and Complementary Medicine (ILACM), which promotes a well-managed and effective modality, designed to complement existing medical health regimes of people with recurring medical illnesses. One of the leading Russian manufacturing firms has appointed ILACM as the exclusive distributor of some of its state-of-the-art devices such as the INTRAVENOUS LASER and TRANSCUTANEOUS LASER (Low level) devices and Cancer Treatment. PHOTODYNAMIC THERAPY and BIOTHERAPY were also introduced.</p>
                    <p> Mr. Santos is a strong advocate of equitable opportunity creation for sustenance of economic growth with diverse adoption of Blockchain Technology and capitalization of its advantages, such as: faster and efficient transactions, global exchanger, high security, Decentralized Autonomous Organization (DAO) through the Proof of Authority (PoA), distributed database through delegates (Block Producer) and allied suitability for micro payments.</p>
                  </div>
                </div>
                
            </div>
        </div>
    </div>
</section> -->

<section class="sec-padd sec-team" id="Team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="head-common wow slideInUp text-center mb-5">Team Members</h4>
               
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team1.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/jakeseltzer-/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Jake Seltzer</div>
                <div class="post">Chief Executive Officer</div>
            </div>

             <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team9.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/kunalkarani/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Kunal Karani </div>
                <div class="post">Chief Operating Officer</div>
            </div>

             <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team5.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/chandanindoria/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Chandan Indoria</div>
                <div class="post">Chief Liaison Officer</div>
            </div>

              <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team6.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/hal-gassenheimer-2660a52b/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Hal Gassenheimer </div>
                <div class="post">Chief Financial Officer</div>
            </div>

           
             <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team8.jpg">
                <div class="ablin">
                   <a target="_blank" href="https://www.linkedin.com/in/jordan-dage-1a79bb21a/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>
                </div>
                </div>
                <div class="name">Jordan Dage </div>
                <div class="post">Head Of Human Resources</div>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team3.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/hoangvietho/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Hoang Viet Ho </div>
                <div class="post">Senior Financial Analyst</div>
            </div>

            <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team10.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/erik-simon/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Erik Simon </div>
                <div class="post">Chief Communications Officer</div>
            </div>

           
            <div class="col-md-3 col-sm-6 col-6">               
                <div class="teampim">
                <img src="assets/images/team/team2.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/mcd-50/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Ayush Shukla </div>
                <div class="post">Chief Technology Officer</div>
            </div>

            <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team7.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/brenden-sicilia-37695451/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Brenden Sicilia</div>
                <div class="post">Director Of Business Development</div>
            </div>

            <div class="col-md-3 col-sm-6 col-6">
               <div class="teampim">
                <img src="assets/images/team/team4.jpg">
                <div class="ablin">
                     <a target="_blank" href="https://www.linkedin.com/in/jackson-campbell-a612a4bb/">
                      <img src="assets/images/icons/linked in@2x.png">
                   </a>                                       
                </div>
                </div>
                <div class="name">Jackson Campbell </div>
                <div class="post">Chief Compliance Officer</div>
            </div>

           

           

           


           
        </div>
       
    </div>
</section>





<!-- <section class="sec-padd sec-faq" id="Faq">
    <div class="side-img"><img src="assets/images/other/new3.png"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="head-common wow slideInUp">| Frequently asked<br>questions</h4>
                        <div class="sub-txt wow slideInUp">Need more help? Contact us at info@asgresearch.com</div>
                    </div>
                    <div class="col-md-8">
                      <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Collapsible Group Item #1
                              </button>
                            </h5>
                          </div>

                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                              </button>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>

                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="sec-padd sec-touch">
    <div class="side-img"><img src="assets/images/other/3.png"></div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h4 class="head-common wow slideInUp">Get in Touch</h4>
                
            </div>
            <div class="col-md-12">
                <form class="getinform" action="contact" method="POST">
                    <div class="form-group">
                        <input class="form-control" name="first_name" data-rule-required="true" data-msg-required="Please Enter Your Name." placeholder="Full name" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="user_email" data-rule-required="true" data-msg-required="Please Enter Your Email." data-rule-email="true" data-msg-email="Please enter a valid email address" placeholder="Enter email address" type="email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control msg" name="message"  placeholder="Message" type="text"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="getinbtn">send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- <section class="sectioncontus" id="Contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                 <div class="white-box">
                 <div class="contactcont">
                 <h4 class="head-common wow slideInUp mb-2">Contact us now</h4>
                 <p>Finance Block Research & Media Services Pvt. Ltd.</p>
                 <div class="table-responsive">
                   <table class="table-contact table">
                       <tbody>
                           <tr>
                               <td width="20%">Address:</td>
                               <td width="80%">400 Cranbourne-Frankston Road, Lanwarrin 3910 Vic AUSTRALIA.<br>West Gate Suites Building
                                286 Central Business District
                                Subic Bay Freeport Zone 2222.</td>
                           </tr>
                            <tr>
                               <td width="20%">Contact :</td>
                               <td width="80%">(+61) 420 575 422 | (+63) 919 0098 037 |<br> (+60) 19 899 8843</td>
                           </tr>
                           <tr>
                               <td width="20%">Email :</td>
                               <td width="80%">info@smartassetmanagers.com</td>
                           </tr>
                           <tr>
                               <td width="20%">Website :</td>
                               <td width="80%">www.asgresearch.com</td>
                           </tr>
                       </tbody>
                   </table>
                   </div>
               </div>
                  </div>
            </div>
            <div class="col-md-6">
               <div class="map">
                 

                   <div style="width: 100%"><iframe width="100%" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=400%20Cranbourne-Frankston%20Road,%20Lanwarrin%203910%20Vic%20AUSTRALIA.+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/route-planner.htm">Google Route Planner</a></div>
               </div>
            </div>
        </div>
    </div>
</section> -->

<section class="sec-padd pb-0 pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="subnwscont">
                    <h4 class="head-common wow slideInUp text-center">Subscribe to our newsletter</h4>
                    
                    <div class="cnsub common-input">
                            <input class="form-control" placeholder="hello@youremail.com" type="text">
                            <button class="btn btn-common" type="button">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('index_footer') %>

